@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}
